{% extends "gyoumuhyo/base.html" %}
{% block content %}

<form action="" method="GET">
    {% csrf_token %}
    {{ form }}
    <button type="submit">検索</button>
 </form>
<div class="div1">
 <table class="table1">
        <th class="item1">名前</th>
        <th class="item1">派遣会社名</th>
    </tr>
    {% for post in posts %} 
    <tr>
        <td class="item1">{{ post.first_name }} {{ post.last_name }}</td>
        <td class="item1">{{ post.company_name }}</td>
    </tr>
    {% endfor %}
</table>
<table class="table2">
    <tr>
        <th>作業場所</th>
    </tr>
    <div class="div2">
    <tr>
        <td>{{ saria.0 }}</td>
    </tr>
    <tr>
        <td>{{ saria.1 }}</td>
    </tr>
    <tr>
        <td>{{ saria.2 }}</td>
    </tr>
    <tr>
        <td>{{ saria.3 }}</td>
    </tr>
    <tr>
        <td>{{ saria.4 }}</td>
    </tr>
    <tr>
        <td>{{ saria.5 }}</td>
    </tr>
    <tr>
        <td>{{ saria.6 }}</td>
    </tr>
    <tr>
        <td>{{ saria.7 }}</td>
    </tr>
    <tr>
        <td>{{ saria.8 }}</td>
    </tr>
    <tr>
        <td>{{ saria.9 }}</td>
    </tr>
    <tr>
        <td>{{ saria.10 }}</td>
    </tr>
    <tr>
        <td>{{ saria.11 }}</td>
    </tr>
    <tr>
        <td>{{ saria.12 }}</td>
    </tr>
    <tr>
        <td>{{ saria.13 }}</td>
    </tr>
    <tr>
        <td>{{ saria.14 }}</td>
    </tr>
    <tr>
        <td>{{ saria.15 }}</td>
    </tr>
    <tr>
        <td>{{ saria.16 }}</td>
    </tr>
    <tr>
        <td>{{ saria.17 }}</td>
    </tr>
    <tr>
        <td>{{ saria.18 }}</td>
    </tr>
    <tr>
        <td>{{ saria.19 }}</td>
    </tr>

    </div>
</table>
</div>
 {% endblock %}

